In [1]:
# Meu modulo com minhas funções - para esse arquivo funcionar é preciso trazer o modulo dafra
import dafra as DF
import pandas as pd

# Importando diferentes bases de dados

In [98]:

# EXCEL
caminho = r"C:\Users\david\Desktop\DataScienceAnalytics\Dados\Produto.xlsx"
df = pd.read_excel(caminho)
df.head()

# CSV
path_file = r"C:\Users\david\Desktop\ProjetosdeCienciasdeDados\Dados\arquivos_csv\Clientes.csv"
df = pd.read_csv(path_file,delimiter=',')
df

,id,created_at,first_name,last_name,email,cell_phone,country,state,street,number,additionals
0,0,2017-11-01 14:45:41,Marta,Jesus,NaN,9 9102-7834,Brasil,Acre,NaN,NaN,Conjunto 16
1,1,2017-10-16 00:50:39,Luana,Almeida,NaN,9 7328-8718,Brasil,Rio Grande do Sul,Avenida 56 do Estado Rio Grande do Sul,989.0,Conjunto 17
2,2,2018-06-16 17:51:29,Frida,Mendes,frida@meu_email.com,9 5906-7552,Brasil,São Paulo,Avenida 59 do Estado São Paulo,534.0,NaN
3,3,2018-01-17 03:02:58,Daniela,Avelino,daniela@exemplo.com,9 4642-9486,Brasil,Mato Grosso,NaN,NaN,NaN
4,4,2018-08-06 07:24:16,Romário,Teixeira,NaN,9 3093-6522,Brasil,Bahia,Praça 56 do Estado Bahia,191.0,Apto 12
...,...,...,...,...,...,...,...,...,...,...,...
95,95,2018-10-01 11:35:59,Mariana,Rosa,mariana@usuario.com,9 3139-2145,Brasil,NaN,NaN,NaN,NaN
96,96,2018-01-23 19:14:21,Paulo,Câmara,paulo@usuario.com,9 4785-1135,Brasil,Sergipe,Praça 73 do Estado Sergipe,219.0,Apto 6
97,97,2018-07-04 18:45:41,Marta,Góes,marta@teste.com,9 4102-4352,Brasil,Paraná,Rua 61 do Estado Paraná,402.0,Apto 24
98,98,2018-01-24 16:21:06,Cibele,Costa,cibele@meu_email.com,9 4211-6968,Brasil,Mato Grosso,Praça 75 do Estado Mato Grosso,24.0,NaN
99,99,2018-07-24 08:26:27,Jéssica,Jesus,jéssica@usuario.com,9 6100-1466,Brasil,Paraná,Avenida 19 do Estado Paraná,738.0,Conjunto 22

# Funçoes para filtrar valores de uma determinada variavel

In [99]:
# base, nome_coluna, valor
DF.filtro_igual_a(df,'first_name','Ana')

,id,created_at,first_name,last_name,email,cell_phone,country,state,street,number,additionals
32,32,2018-07-22 11:59:27,Ana,Campos,ana@teste.com,9 1932-9841,Brasil,Bahia,Avenida 52 do Estado Bahia,402.0,NaN
77,77,2018-11-30 10:29:55,Ana,Monteiro,ana@teste.com,9 3871-4132,Brasil,Bahia,Praça 86 do Estado Bahia,604.0,Apto 30

In [ ]:
#usando minha função do arquivo dafra - com argumentos direto na função
Acre = DF.filtro_igual_a(df,'state','Acre')
Acre

In [ ]:
print('Maior que?')
coluna = input('Digite respectivamente da coluna e valor numerico do filtro: ')
valor = int(input())
DF.filtro_maior_que(df,coluna,valor)

In [ ]:
print('Menor igual a?')
coluna = input('Digite respectivamente da coluna e valor numerico do filtro: ')
valor = int(input())
DF.filtro_menor_igual_a(df,coluna,valor)

In [ ]:
valor1 = 50
valor2 = 189
coluna = 'Price'
DF.filtro_entre(df,coluna,valor1,valor2)

In [ ]:
# aqui faz por meio de input o mesmo que o notebook abaixo
lista = DF.pergunta_m()
DF.varios_valores(df,lista[1],lista[0])

In [ ]:
#usando minha função - atribui filtro da coluna state buscando varios registros
estados2 = ['Acre','Santa Catarina', 'São Paulo','Minas Gerais']
DF.varios_valores(df,'state',estados2)

# Tratamento de nulos

In [ ]:
#usando minha função - verifica todas as colunas que possui nan
DF.show_null(df)

#### Os valores podem ser tratados com média, mediana, moda etc, basta atribuir esses valores na lista_prenchimento

In [ ]:
lista_prenchimento = ['Não cadastrado','Email não cadastrado','Sem informações',0,'Estado não cadastrado']
var_NaN = DF.show_null(df)
df = DF.tratar_colunas_NAN(df,var_NaN,lista_prenchimento)

# Replaces de valores

In [ ]:
# Substitui o valor da coluna
coluna = 'state'
atual = 'SP'
novo = 'São Paulo'
DF.substituir_valores(df,coluna,atual,novo)

In [ ]:
# Substitui varios valores de uma só vez
mapeamento = {'Maranhão': 'Maranhao', 'Piauí': 'Piaui', 'Goiás': 'Goias','São Paulo':'SPsudeste'}
coluna = 'state'
DF.substituir_varios(df,coluna,mapeamento)

# Consolidando Arquivos

In [ ]:
# pasta que estão os arquivos que deseja consolidar DataLake
pasta = r"C:\Users\david\Desktop\ProjetosdeCienciasdeDados\Dados\arquivos_excel\Consolidar/"

In [ ]:
# Diretorio do Data Lake, Extensão do arquivo - varre todos os arquivos e consolida 
tipo_arquivo = '.xlsx'
consolidado = DF.consolidar_arquivos(pasta,tipo_arquivo)

#### Salvando os arquivos que foi consolidados acima

In [ ]:
# Pasta destino é o caminho que deseja salvar o arquivo consolidado, 
pasta_destino = r"C:\Users\david\Desktop\ProjetosdeCienciasdeDados\Dados\arquivos_excel\meuconsolidado/"
nome_arquivo = "vendasTotais"
extensao_arquivo = ".txt"
consolidadoSalvar = consolidado
DF.salvar_consolidado(consolidadoSalvar,pasta_destino,nome_arquivo,extensao_arquivo)

#### Sobreescrevendo um arquivo existente ou criando caso não exista

In [ ]:
pasta_destino = r"C:\Users\david\Desktop\ProjetosdeCienciasdeDados\Dados\arquivos_excel\Consolidar\Arquivos consolidados/"
nome_arquivo = 'Vendasleticia.xlsx'
DF.sobreescrever_arquivoExcel(pasta_destino,nome_arquivo,consolidado)

# Conversão de dados

In [ ]:
# Importando base
diretorio = r'C:\Users\david\Desktop\ProjetosdeCienciasdeDados\Dados\arquivos_csv\Clientes.csv'
df = pd.read_csv(diretorio, delimiter=',')

In [ ]:
#tipos de dados do DataFrame
DF.tipo_dados(df)

In [ ]:
# converte para os tres tipos (float, str, int) pata datetime preencha o tipo como 1
tipo = 1
coluna = 'created_at'
DF.converter_tipo(df,coluna,tipo)

# Filtro de dados do tipo data

In [ ]:
# Filtra dia, mês e ano coluna, ano1 e ano2, mes1 e mes2 de [1 a 12]  dia1 e dia2 [1 a 31]- 
# caso queira o mesmo ano é só repetir os valores, o mesmo aplica para mes e dia
coluna = 'created_at'
ano1 = 2017
ano2 = 2018
mes1 = 12
mes2 = 12
dia1 = 1
dia2 = 31
DF.filtro_ano_mes_dia(df, coluna, ano1, ano2, mes1, mes2,dia1,dia2)

In [ ]:
# Filtra mês e ano coluna, ano1 e ano2, mes1 e mes2 de [1 a 12] - caso queira o mesmo ano é só repetir os valores, o mesmo aplica para mes
coluna = 'created_at'
ano1 = 2017
ano2 = 2018
mes1 = 5
mes2 = 5
DF.filtro_ano_mes(df, coluna, ano1, ano2, mes1, mes2)

In [ ]:
# Filtra por ano, caso queira um unico ano basta colocar o mesmo anos nas variaveis ano1 e ano2
coluna = 'created_at'
ano1 = 2017
ano2 = 2017
DF.filtra_entre_anos(df,coluna,ano1,ano2)

# Convertendo para padrao Brasileiro

In [ ]:
coluna = 'created_at'
DF.mudar_padrao_brasileiro_semHoras(df,coluna)

In [ ]:
coluna = 'created_at'
DF.mudar_padrao_brasileiro_comHoras(df,coluna)

# Adicionando uma nova coluna

In [ ]:
# Cria uma nova coluna no DATAFRAME 
nome_coluna = 'ano'
valor_coluna = df['created_at'].dt.year
DF.nova_coluna(df,nome_coluna,valor_coluna)

In [ ]:
# Adicionar coluna com o nome do mês em português - parametros(base,nova_coluna, lista dos meses, coluna referencia)
lista = ['janeiro', 'fevereiro', 'março', 'abril', 'maio', 'junho',
         'julho', 'agosto', 'setembro', 'outubro', 'novembro', 'dezembro']
nova_coluna = 'Nome mes'
coluna_ref = 'created_at'
DF.coluna_meses_extenso(df,nova_coluna,lista,coluna_ref)

In [ ]:
def geral_datetime(df,coluna_ref):
    df[coluna_ref] = pd.to_datetime(df[coluna_ref])
    lista = ['janeiro', 'fevereiro', 'março', 'abril', 'maio', 'junho',
         'julho', 'agosto', 'setembro', 'outubro', 'novembro', 'dezembro']
    df['dia'] = df[coluna_ref].dt.day
    df['mes'] = df[coluna_ref].dt.month
    df['ano'] = df[coluna_ref].dt.year
    df['hora'] = df[coluna_ref].dt.hour
    df['minuto'] = df[coluna_ref].dt.minute
    df['segundo'] = df[coluna_ref].dt.second
    df['mes extenso'] = df[coluna_ref].dt.month.map(lambda x: lista[x-1])
    return df

In [ ]:
# formata inteiramente o campo date time, parametros base e coluna refente a data
coluna_ref = 'created_at'
geral_datetime(df,coluna_ref)

In [ ]:
#Parametros base, coluna referencia
coluna_ref = 'created_at'
DF.Adiciona_hora_minuto(df,coluna_ref)

# Limpeza de bases despadronizada

In [ ]:
# Importando base
diretorio = r"C:\Users\david\Desktop\ProjetosdeCienciasdeDados\Dados\arquivos_excel\Caquinha.xlsx"
df = pd.read_excel(diretorio)
df.head(3)

Seleção por aba e coluna

In [ ]:
#Buscando por indice das colunas - Essa função é usada para capturar colunas especificas de uma Aba Excel
diretorio = r"C:\Users\david\Desktop\ProjetosdeCienciasdeDados\Dados\arquivos_excel\Caquinha.xlsx"
aba = 'Planilha3'
colSelecionadas = [0,1,5,6]
DF.selecao_coluna(diretorio,aba,colSelecionadas)

In [ ]:
#Buscando por nome de colunas - Essa função é usada para capturar colunas especificas de uma Aba Excel - só foi mudado o parametro
diretorio = r"C:\Users\david\Desktop\ProjetosdeCienciasdeDados\Dados\arquivos_excel\Caquinha.xlsx"
aba = 'Planilha3'
colSelecionadas = 'A:B'
Produto = DF.selecao_coluna(diretorio,aba,colSelecionadas)

In [ ]:
#Buscando por nome de colunas - Essa função é usada para capturar colunas especificas de uma Aba Excel - só foi mudado o parametro
diretorio = r"C:\Users\david\Desktop\ProjetosdeCienciasdeDados\Dados\arquivos_excel\Caquinha.xlsx"
aba = 'Planilha3'
colSelecionadas = 'F:G'
loja = DF.selecao_coluna(diretorio,aba,colSelecionadas)

In [ ]:
#Buscando por nome de colunas - Essa função é usada para capturar colunas especificas de uma Aba Excel - só foi mudado o parametro
diretorio = r"C:\Users\david\Desktop\ProjetosdeCienciasdeDados\Dados\arquivos_excel\Caquinha.xlsx"
aba = 'Planilha1'
colSelecionadas = 'A:B'
vendedor = DF.selecao_coluna(diretorio,aba,colSelecionadas)

Seleção por aba, colunas e pulando ou informando linhas desejadas

In [ ]:
# Pula linhas e seleciona colunas de uma aba excel
diretorio = r"C:\Users\david\Desktop\ProjetosdeCienciasdeDados\Dados\arquivos_excel\Caquinha.xlsx"
aba = 'Planilha4'
colSelecionadas = 'G:H'
nlinhas = 7
DF.pular_linhas_selColunas(diretorio,aba,nlinhas,colSelecionadas)

In [ ]:
# Seleciona as colunas de uma determinada aba informando que quer da primeira até a linha 12 excel - 11 porque o python inicia com indice zero
diretorio = r"C:\Users\david\Desktop\ProjetosdeCienciasdeDados\Dados\arquivos_excel\Caquinha.xlsx"
aba = 'Planilha5'
colSelecionadas = [0,1]
nlinhas = 11
vendedor = DF.seleciona_linhas(diretorio,aba,nlinhas,colSelecionadas)
vendedor

In [ ]:
# Pula as linhas até a 13º linha
diretorio = r"C:\Users\david\Desktop\ProjetosdeCienciasdeDados\Dados\arquivos_excel\Caquinha.xlsx"
aba = 'Planilha5'
nlinhas = 13
loja = DF.pular_linhas(diretorio,aba,nlinhas)

In [ ]:
# Importa uma planilha pela aba - essa é interessante para entender a anormalidade da aba é o dado bruto
diretorio = r"C:\Users\david\Desktop\ProjetosdeCienciasdeDados\Dados\arquivos_excel\Caquinha.xlsx"
aba = 'Planilha5'
DF.importacao_excel_por_aba(diretorio,aba)

In [ ]:
# Pula as 3 primeiras linhas
diretorio = r"C:\Users\david\Desktop\ProjetosdeCienciasdeDados\Dados\arquivos_excel\Caquinha.xlsx"
aba = 'Planilha2'
nlinhas = 3
DF.pular_linhas(diretorio,aba,nlinhas)

# Seleção de colunas específicas

In [ ]:
df = pd.read_csv(r"C:\Users\david\Desktop\ProjetosdeCienciasdeDados\Dados\arquivos_csv\Clientes.csv",delimiter=',')
df.head()

O gestor só quer o contato de cada cliente

In [ ]:
# Cria um df com as colunas da lista -  
lista_colunas = ['id','first_name','last_name','email','cell_phone']
contatos = DF.trazer_colunas(df, lista_colunas)
display(contatos)

# Removendo duplicados

In [ ]:
df = pd.read_excel(r"C:\Users\david\Desktop\ProjetosdeCienciasdeDados\Dados\arquivos_excel\Produto.xlsx")
df.head(3)

In [ ]:
# Listando os duplicados
duplicados = df[df.duplicated()]
duplicados

In [ ]:
# Removendo duplicados
df_sem_duplicados = df.drop_duplicates()
df=df_sem_duplicados

Por critério (coluna)

In [ ]:
# Listando os duplicados por id
duplicadosID = df[df.duplicated(subset=['ID'])]
duplicadosID

In [ ]:
# Removendo duplicados
df_sem_duplicados = df.drop_duplicates(subset=['ID'])
df=df_sem_duplicados

#### Pode ser removido com a linha abaixo

In [ ]:
DF.remover_duplicadas(df)

# Renomear colunas - Classificar por ordem

In [ ]:
renomear = {'ID':'Código', 'Name':'Produto', 'Price':'Preço', 'Id_Category':'Código da categoria'}
dados = pd.read_excel(r"C:\Users\david\Desktop\ProjetosdeCienciasdeDados\Dados\arquivos_excel\Produto.xlsx").rename(columns=renomear)
dados.head(10)

Ordena uma coluna

In [ ]:
# parametros - nome da coluna e ordenação 'c' ordem crescente 'd' decrescente
coluna = 'Price'
ordenacao = 'c'
DF.ordenar_coluna(dados,coluna,ordenacao)

Renomeia as colunas

In [ ]:
# Criando um dicionario com as colunas antigas como chave e nova como valor
renomear = {'ID':'Código', 'Name':'Produto', 'Price':'Preço', 'Id_Category':'Código da categoria'}
dados = dados.rename(columns=renomear)
dados

# Conexão com Sistema gerenciador de banco de dados

In [2]:
#!pip install pyodbc
import pyodbc
import pandas as pd

In [82]:
# Variaveis para a conexão
driver_ODBC = 'ODBC Driver 17 for SQL Server'
nome_servidor = 'DAVIDFRANCISCO\SQLEXPRESS'
nome_BD = 'AulaPython'
usuario = 'dsds'
senha = '1234'

In [83]:
# conexão do banco de dados SQL SERVER sem senha
conexaoDB = pyodbc.connect(f'DRIVER={driver_ODBC};'
                        f'SERVER={nome_servidor};'
                        f'DATABASE={nome_BD};'
                        'Trusted_Connection=yes;')

cursor = conexaoDB.cursor()   # criando cursor de comando

In [ ]:
#usando senha
'''
conexaoDB = pyodbc.connect(f'DRIVER={driver_ODBC};'
                        f'SERVER={nome_servidor};'
                        f'DATABASE={nome_BD};'
                        f'usuario= {usuario};'
                        f'senha={senha};'  
                        'Trusted_Connection=yes;')

cursor = conexaoDB.cursor()   
'''

# Buscando uma base em excel

In [3]:
df = pd.read_excel(r"C:\Users\david\Desktop\ProjetosdeCienciasdeDados\Dados\arquivos_excel\Produto.xlsx")
df.head(3)

   ID                  Name  Price  Id_Category
0   0       Sapato vermelho     96            0
1   1  Bolsa mais que Velha   8000            0
2   2                 Calça     75            0

# Tratamento da base para padronizar e inserir no banco de dados

In [4]:
DF.show_null(df)

             #  % null    type
ID           0     0.0   int64
Name         0     0.0  object
Price        0     0.0   int64
Id_Category  0     0.0   int64

In [5]:
# Trata dados nulos
lista_prenchimento = ['Não cadastrado','Email não cadastrado','Sem informações',0,'Estado não cadastrado']
var_NaN = DF.show_null(df)
df = DF.tratar_colunas_NAN(df,var_NaN,lista_prenchimento)

In [6]:
# converte para os tres tipos (float, str, int) pata datetime preencha o tipo como 1
tipo = float
coluna = 'Price'
DF.converter_tipo(df,coluna,tipo)

In [10]:
# Listando os duplicados
duplicados = df[df.duplicated()]
duplicados

Empty DataFrame
Columns: [ID, Name, Price, Id_Category]
Index: []

In [9]:
DF.remover_duplicadas(df)

Empty DataFrame
Columns: [ID, Name, Price, Id_Category]
Index: []

In [13]:
duplicadosID = df[df.duplicated(subset=['ID'])]
duplicadosID

Empty DataFrame
Columns: [ID, Name, Price, Id_Category]
Index: []

In [12]:
df = df.drop_duplicates(subset=['ID'])

conferindo os dados

In [26]:
display(df)

    ID                  Name   Price  Id_Category
0    0       Sapato vermelho    96.0            0
1    1  Bolsa mais que Velha  8000.0            0
2    2                 Calça    75.0            0
3    3    Camisa apertadinha   170.0            0
4    4   Vestido Super curto    57.0            0
5    5               Perfume    29.0            1
6    6      Creme de Barbear    15.0            1
7    7       Hidratante caro   800.0            1
8    8               Shampoo    15.0            1
10   9        Protetor Solar    11.0            1
11  10             Geladeira  1952.0            2
12  11                 Fogão  1373.0            2
13  12                    TV  1992.0            2
14  13      Máquina de Lavar  1826.0            2
15  14      Máquina de Secar  1774.0            2
16  15   O Romance Exagerado    46.0            3
17  16       Suspense Demais    42.0            3
18  17  Terror Aterrorizante    45.0            3
19  18   A Comédia Engraçada    20.0            3
20  19     A História de SQL    23.0            3
21  20               Ai-Fone  1720.0            4
23  21           Galáxia R10  2007.0            4
24  22            Chiai-homi  1152.0            4
25  23                 Ruaei  2795.0            4
26  24                Nóquia  2663.0            4
27  25                 Mouse   144.0            5
28  26               Teclado    53.0            5
29  27             Pen-Drive   136.0            5
30  28            Impressora   186.0            5
31  29            HD Externo   110.0            5
32  30              Poltrona   110.0            6
33  31              Almofada   170.0            6
34  32               Cadeira   164.0            6
35  33                  Sofá   111.0            6
36  34                  Mesa   143.0            6
37  35            Video-Game   602.0            7
39  36   Máquina Fotográfica   377.0            7
40  37              Notebook   493.0            7
41  38                    PC   385.0            7
42  39     Secador de Cabelo   580.0            7
43  40              Chuteira   128.0            8
44  41          Tornozeleira    61.0            8
45  42               Raquete    97.0            8
46  43                  Bola   103.0            8
47  44               Pebolim    82.0            8
48  45          Futebol 2020    36.0            9
49  46                  Iôiô    16.0            9
50  47                  Peão    32.0            9
51  48             Bey-Blade    55.0            9
52  49     Casinha de Boneca    39.0            9

# Inserindo no banco de dados

Variaveis necessárias para a conexão

In [15]:
driver_ODBC = 'ODBC Driver 17 for SQL Server'
nome_servidor = 'DAVIDFRANCISCO\SQLEXPRESS'
nome_BD = 'AulaPython'
tabelaSQL = '[Produtos]'
usuario = 'dsds'
senha = '1234'

Conexão e insersão de uma base tratada

In [16]:
# conexão do banco de dados SQL SERVER sem senha
conexaoDB = pyodbc.connect(f'DRIVER={driver_ODBC};'
                           f'SERVER={nome_servidor};'
                           f'DATABASE={nome_BD};'
                           'Trusted_Connection=yes;')

cursor = conexaoDB.cursor()   # criando cursor de comando
    
#Apaga caso haja uma tabela com esse nome
tabelaSQL = '[Produtos]'
str(df.columns).replace("'","") 
cursor.execute('truncate table '+tabelaSQL) 
for index, linha in df.iterrows():
    cursor.execute("Insert into [Produtos](ID,Nome,Price,Id_Category)values(?,?,?,?)",linha.ID,linha.Name,linha.Price,linha.Id_Category) 
     # inserir colunas e quantas colunas tiver passar quantidade de ??
cursor.commit()   # validar dados no SQL Server
cursor.close()    #Fechar Cursor
conexaoDB.close() #Fechar Conexao