# Baixar tabelas do SQL Server para trabalhar em Python

In [2]:
import dafra as DF
import pandas as pd
import pyodbc

#### Abre a conexão com o SQL Server

In [43]:
# Variaveis de conexão
driver_ODBC = 'ODBC Driver 17 for SQL Server'
nome_servidor = 'DAVIDFRANCISCO\SQLEXPRESS'
nome_BD = 'AulaPython'
#tabelaSQL = '[Clientes]'
usuario = 'dsds'
senha = '1234'

# Conexão
conexaoDB = pyodbc.connect(f'DRIVER={driver_ODBC};'
                           f'SERVER={nome_servidor};'
                           f'DATABASE={nome_BD};'
                           'Trusted_Connection=yes;')

cursor = conexaoDB.cursor()   # criando cursor de comando

### Baixa a tabela desejada

In [44]:
Query = 'SELECT * FROM Categoria'
Categoria = pd.read_sql(Query,conexaoDB)
Categoria

C:\Users\david\AppData\Local\Temp\ipykernel_4532\3543266480.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Categoria = pd.read_sql(Query,conexaoDB)

    ID                Categoria
0    0        Moda e Acessórios
1    1  Cosméticos e Perfumaria
2    2         Eletrodomésticos
3    3                   Livros
4    4                Celulares
5    5              Informática
6    6         Casa e Decoração
7    7              Eletrônicos
8    8          Esporte e Lazer
9    9    Brinquedos e consoles
10  10   Limpeza e higienização

Baixando varias tabelas

In [45]:
# Cria as tabelas vazias
Categoria=pd.DataFrame()
Produtos=pd.DataFrame()
Items=pd.DataFrame()
Ordens=pd.DataFrame()
Clientes=pd.DataFrame()
#Atribui as tabelas criadas a uma lista - na mesma sequencia de nomes crie uma tabela com o nome igual a do SGBD
tabelas_baixadas = [Categoria,Produtos,Items,Ordens,Clientes]
tabelas_SGBD = ['Categoria','Produtos','Items','Ordens','Clientes']
for indice in range(len(tabelas_SGBD)):
    tabela = tabelas_SGBD[indice]
    Query = f'SELECT * FROM {tabela}'
    tabelas_baixadas[indice] = pd.read_sql(Query, conexaoDB)
    #tabelas_baixadas[indice] = pd.DataFrame(tabelas_baixadas[indice])

#Atribui cada tabela a um data frame
Categoria=tabelas_baixadas[0]
Produtos=tabelas_baixadas[1]
Items=tabelas_baixadas[2]
Ordens=tabelas_baixadas[3]
Clientes=tabelas_baixadas[4]

C:\Users\david\AppData\Local\Temp\ipykernel_4532\1594362285.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  tabelas_baixadas[indice] = pd.read_sql(Query, conexaoDB)

### Salva a tabela em um diretorio

In [46]:
#df = Categoria
#pasta_destino = r"C:\Users\david\Desktop\ProjetosdeCienciasdeDados\Dados\arquivos_excel\meuconsolidado\tratados/"
#nome_arquivo = "Categoria2"
#extensao_arquivo = ".xlsx"
#consolidadoSalvar = df
#DF.salvar_consolidado(consolidadoSalvar,pasta_destino,nome_arquivo,extensao_arquivo)

### Salva todas as tabelas em formato excel

In [47]:
for i in range(len(tabelas_SGBD)):
    df = tabelas_baixadas[i]
    pasta_destino = r"C:\Users\david\Desktop\ProjetosdeCienciasdeDados\Dados\arquivos_excel\meuconsolidado\tratados/"
    nome_arquivo = tabelas_SGBD[i]
    extensao_arquivo = ".xlsx"
    consolidadoSalvar = df
    DF.salvar_consolidado(consolidadoSalvar,pasta_destino,nome_arquivo,extensao_arquivo)

## Fecha a conexão

In [48]:
cursor.close()    #Fechar Cursor
conexaoDB.close() #Fechar Conexao